In [2]:
korean = 92
english = 47
mathematics = 86
science = 81
print(korean >= 80 and english >= 80 and mathematics >= 80 and science >= 80)

False

In [3]:
korean = 92
english = 90
mathematics = 86
science = 81
print(korean >= 80 and english >= 80 and mathematics >= 80 and science >= 80)

True

In [13]:
# 숫자 두개를입력받아서 사칙연산을 출력하는 프로그램을 만드시오.

# a = int(input('첫번째 숫자를 입력하세요')
# b = int(input('두번째 숫자를 입력하세요')
a,b = map(int,input('숫자 두개를 입력하세요').split())

print(a,'+',b,'=', a+b)
print(a,'-',b,'=', a-b)
print('%d * %d = %d'%(a,b,a*b))
print('%d / %d = %d'%(a,b,a/b))

숫자 두개를 입력하세요20 10
20 + 10 = 30
20 - 10 = 10
20 * 10 = 200
20 / 10 = 2

In [17]:
# 동전 교환기 

money, c500, c100, c50, c10 = 0,0,0,0,0

money = int(input('교환할 금액을 입력하세요 :'))

c500 = money // 500 # 몫만 구한다.
money = money % 500 #나머지만 구한다.

c100 = money // 100
money = money % 100

c50 = money // 50
money %= 50

c10 = money // 10
money %= 10

print('500원짜리->',c500)
print('100원짜리->',c100)
print('50원짜리 %d개'%c50)
print('10원짜리 %d개'%c10)
print('바꾸지 못한 잔돈 %d 원'%money)

교환할 금액을 입력하세요 :8975
500원짜리-> 17
100원짜리-> 4
50원짜리 1개
10원짜리 2개
바꾸지 못한 잔돈 5 원

In [18]:
lst_a = [1,2,3]
print(lst_a)
type(lst_a)

[1, 2, 3]

list

In [19]:
person = ['홍길동',19,181.5,True]
print(person)

['홍길동', 19, 181.5, True]

In [20]:
lst_a = []
lst_b = list()

In [23]:
lst_a = list(range(10))
print(lst_a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
colors = ['red','blue','green']
print(colors)
print(colors[0])
print(colors[2])
print(len(colors))

['red', 'blue', 'green']
red
green
3

In [31]:
lst_a = list(range(10))
print(lst_a[3:5])
print(lst_a[2:6])
print(lst_a)

[3, 4]
[2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
#          0      1     2       3     4      5      6       7
area = ['서울','부산','인천','대구','대전','광주','울산','수원']
print(area[0:5])
print(area[5:])
print(area[:3])
print(area[3:5])

['서울', '부산', '인천', '대구', '대전']
['광주', '울산', '수원']
['서울', '부산', '인천']
['대구', '대전']

In [52]:
#         -1     -2      -3   -4      -5     -6     -7     -8
area = ['서울','부산','인천','대구','대전','광주','울산','수원']
print(area[-8:])
print(area[-4:])
# 음수는 역순값이라도 순서는 바뀌지 않는다.

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']
['대전', '광주', '울산', '수원']

In [46]:
area = ['서울','부산','인천','대구','대전','광주','울산','수원']
print(area[::2])
print(area[::-1])

['서울', '인천', '대전', '울산']
['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

In [53]:
color = ['red','blue','green']
color.append('white')
print(color)

['red', 'blue', 'green', 'white']

In [59]:
color.insert(0,'orange')
print(color)

['orange', 'orange', 'blue', 'green', 'white']

In [60]:
color.remove('orange')
print(color)

['orange', 'blue', 'green', 'white']

In [63]:
t1 = (1,2,3) #튜플은 값이 변하지 않음
print(t1)

(1, 2, 3)

In [64]:
print(t1[1])

2

In [67]:
t1 = (1,2,3) #튜플생성
lst = list(t1) #튜플을 리스트로 변환
lst.append(4) #마지막에 4를 추가
t1 = tuple(lst) #리스트를 튜플로 변환
print(t1)

(1, 2, 3, 4)

In [70]:
dic1 = {'name':'홍길동','phone':'010-1234-5678','addr':'청주시 상당구'}
print(dic1)
print(dic1['name'])
print(dic1['phone'])
print(dic1['addr'])

{'name': '홍길동', 'phone': '010-1234-5678', 'addr': '청주시 상당구'}
홍길동
010-1234-5678
청주시 상당구

In [71]:
dic1 = {'name':'홍길동','phone':'010-1234-5678','addr':'청주시 상당구'}
for key, value in dic1.items():
    print(key,value)

name 홍길동
phone 010-1234-5678
addr 청주시 상당구

In [74]:
s1 = set('hello')
print(s1)
s2 = set([1,2,3,3,4])
print(s2)

{'h', 'e', 'l', 'o'}
{1, 2, 3, 4}

In [78]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

print(s1 & s2)
print(s1 | s2)
print(s1 - s2)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

In [80]:
a,b,c,d = 0,0,0,0
plus = 0

a = int(input('첫번째값을 입력하세요 :'))
b = int(input('두번째값을 입력하세요 :'))
c = int(input('세번째값을 입력하세요 :'))
d = int(input('네번째값을 입력하세요 :'))

plus = a + b + c + d

print('합계는 = ',plus)

첫번째값을 입력하세요 :10
두번째값을 입력하세요 :20
세번째값을 입력하세요 :30
네번째값을 입력하세요 :40
합계는 =  100

In [81]:
aa = [0,0,0,0]
plus = 0

aa[0] = int(input('첫번째값을 입력하세요 :'))
aa[1] = int(input('두번째값을 입력하세요 :'))
aa[2] = int(input('세번째값을 입력하세요 :'))
aa[3] = int(input('네번째값을 입력하세요 :'))

plus = aa[0] + aa[1] + aa[2] + aa[3]

print('합계는 = ',plus)

첫번째값을 입력하세요 :10
두번째값을 입력하세요 :20
세번째값을 입력하세요 :30
네번째값을 입력하세요 :40
합계는 =  100