In [1]:
x = 10
if x == 10:
    print('10입니다.')

10입니다.

In [2]:
x = 5
if x == 10:
    print('10입니다.')
#틀린값은 출력되지않는다.

In [3]:
x = 10
if x == 10:
    print('x에 들어있는 숫자는')
print('10입니다.')

x에 들어있는 숫자는
10입니다.

In [4]:
x = 5
if x == 10:
    print('x에 들어있는 숫자는')
print('10입니다.')
#if문은 아래 4칸띄워져있는 프린트문만 출력됨.
#띄워지지 않은 프린트문은 출력됨.

10입니다.

In [5]:
x = 5
if x == 10:
    print('x에 들어있는 숫자는')
    print('10입니다.')
#틀린겂은 출력되시 않는다.

In [7]:
a = int(input('임의 숫자 입력 :'))

if a <100:
    print('100보다 작은수')
print('프로그램 종료')

임의 숫자 입력 :50
100보다 작은수
프로그램 종료

In [9]:
x = int(input('임의 숫자 입력 :'))
if x != 20:
    print('pass')

임의 숫자 입력 :15
pass

In [12]:
a = int(input('금액을 입력하세요'))
b = str(input('쿠폰이름을 입력하세요'))

if b == 'sale3000':
    a -= 3000 #a = a-3000 과 같은뜻
if b  == 'sale5000':
    a -= 5000
print(a)

금액을 입력하세요20000
쿠폰이름을 입력하세요sale5000
15000

In [14]:
a = int(input('임의 숫자 입력 :'))
if a < 100:
    print('100보다 작은수')
else:
     print('100보다 크거나 같은수')
print('프로그램종료')

임의 숫자 입력 :50
100보다 작은수
프로그램종료

In [15]:
a = int(input('금액을 입력하세요'))
b = str(input('쿠폰이름을 입력하세요'))

if b == 'sale3000':
    a -= 3000 #a = a-3000 과 같은뜻
else:
    a -= 5000
print(a)

금액을 입력하세요20000
쿠폰이름을 입력하세요쿠폰
15000

In [16]:
x = 10
y = 20
if x == 10 and y == 20:
    print('참')
else:
    print('거짓')

참

In [17]:
x = 5
y = 20
if x == 10 and y == 20:
    print('참')
else:
    print('거짓')

거짓

In [18]:
x = 5
y = 20
if x == 10 or y == 20:
    print('참')
else:
    print('거짓')

참

In [22]:
written_test = 75
interview_test = True

if written_test >= 80 and interview_test == True:
    print('합격')
else:
    print('불합격')

불합격

In [26]:
a,b,c,d = map(int,input().split())

if 0 <= a <= 100 and 0 <= b <= 100 and 0 <= c <= 100 and 0 <= d <= 100:
    avg = (a+b+c+d)/4
    if avg >= 80:
        print('합격')
    else:
        print('불합격')
else:
    print('잘못된 점수입니다.')

90 90 90 90
합격

In [27]:
x = 20

if x == 10:
    print('10입니다.')
elif x == 20:
    print('20입니다.')
else:
    print('10도아니고 20도 아닙니다.')

20입니다.

In [28]:
x = 10

if x == 10:
    print('10입니다.')
elif x == 20:
    print('20입니다.')
else:
    print('10도아니고 20도 아닙니다.')

10입니다.

In [29]:
x = 2

if x == 10:
    print('10입니다.')
elif x == 20:
    print('20입니다.')
else:
    print('10도아니고 20도 아닙니다.')

10도아니고 20도 아닙니다.

In [31]:
button = int(input('번호를 입력하세요.'))

if button == 1:
    print('콜라')
elif button == 2:
    print('사이다')
elif botton == 3:
    print('환타')
else:
    print('제공하지 않는 메뉴')

번호를 입력하세요.1
콜라

In [40]:
print('당신의 태어난 연도를 입력하세요.')
birth_year = int(input())
age = 2022-birth_year+1

if age <=26 and age >= 20:
    print('대학생')
elif age < 20 and age>=17:
    print('고등학생')
elif age < 17 and age>=14:
    print('중학생')
elif age < 14 and age>8:
    print('초등학생')
else:
    print('학생이 아닙니다.')

당신의 태어난 연도를 입력하세요.
1985
학생이 아닙니다.

In [44]:
gender = input('성별을 입력하세요(M:남자/F:여자) :')
age = int(input('나이를 입력하세요 :'))

if gender == "M" or gender =="m":
    if age >= 40:
        print('40대이상 남자')
    elif age >= 30:
        print('30대 남자')
    elif age >= 20:
        print('20대 남자')
    else:
        print('10대 이하 남자')
else:
    if age >=40:
        print('40대이상 여자')
    elif age >=30:
        print('30대 여자')
    elif age >=20:
        print('20대 여자')
    else:
        print('10대이하 여자')

성별을 입력하세요(M:남자/F:여자) :m
나이를 입력하세요 :38
30대 남자

In [62]:
age = int(input('탑승자의 나이를 입력하세요 : '))
card = 10000

if age >=7 and age <=12:
    card -= 650
elif age >=13 and age <=18:
    card -= 1050
elif age >19 and age <=64:
    card -= 1250
else:
    card -= 0
    print('금액을 받지 않습니다.')
print('남은 잔액은 %d원 입니다.'%card)

탑승자의 나이를 입력하세요 : 68
금액을 받지 않습니다.
남은 잔액은 10000원 입니다.

In [67]:
# korea = 
# english =
# socity =

#국어, 영어, 사회 3과목점수를 입력 : 50 80 80

#총점 : 210, 평균 : 70, 등급 : C
#국어 점수 : 50
#수학 점수 : 80
#사회 점수 : 80
#등급 : C
#등급 90점 이상 A, 80점이상이면 B, 70점 이상이면 C 그외는 F

In [78]:
korea, english, soceity = map(int,input('점수를 입력하세요 : ').split())

sum = korea + english + society
avg = sum / 3

if avg >= 90:
    garde = 'A'
elif avg >= 80:
    garde = 'B'
elif avg >= 70:
    garde = 'C'
else:
    grade = 'F'
print('총점 : %d 평균 : %5.1f 등급 : %s'%(sum,avg,garde))
print('국어 점수 : %d'%korea)
print('수학 점수 : %d'%english)
print('사회 점수 : %d'%society)
print('등급 : %s'%garde)

점수를 입력하세요 : 50 80 80
총점 : 210 평균 :  70.0 등급 : C
국어 점수 : 50
수학 점수 : 80
사회 점수 : 80
등급 : C

In [79]:
score = 55
result = ''
if score >= 60:
    result = '합격'
else :
    result = '불합격'
print(result)

불합격

In [80]:
score = 50
result = ''
result = '합격' if score >= 60 else '불합격'
print(result)

불합격

In [81]:
for i in range(100):
    print('hi',i)

hi 0
hi 1
hi 2
hi 3
hi 4
hi 5
hi 6
hi 7
hi 8
hi 9
hi 10
hi 11
hi 12
hi 13
hi 14
hi 15
hi 16
hi 17
hi 18
hi 19
hi 20
hi 21
hi 22
hi 23
hi 24
hi 25
hi 26
hi 27
hi 28
hi 29
hi 30
hi 31
hi 32
hi 33
hi 34
hi 35
hi 36
hi 37
hi 38
hi 39
hi 40
hi 41
hi 42
hi 43
hi 44
hi 45
hi 46
hi 47
hi 48
hi 49
hi 50
hi 51
hi 52
hi 53
hi 54
hi 55
hi 56
hi 57
hi 58
hi 59
hi 60
hi 61
hi 62
hi 63
hi 64
hi 65
hi 66
hi 67
hi 68
hi 69
hi 70
hi 71
hi 72
hi 73
hi 74
hi 75
hi 76
hi 77
hi 78
hi 79
hi 80
hi 81
hi 82
hi 83
hi 84
hi 85
hi 86
hi 87
hi 88
hi 89
hi 90
hi 91
hi 92
hi 93
hi 94
hi 95
hi 96
hi 97
hi 98
hi 99

In [89]:
for i in range(0,10,1):
    print('for문을 공부중입니다.',i)

for문을 공부중입니다. 0
for문을 공부중입니다. 1
for문을 공부중입니다. 2
for문을 공부중입니다. 3
for문을 공부중입니다. 4
for문을 공부중입니다. 5
for문을 공부중입니다. 6
for문을 공부중입니다. 7
for문을 공부중입니다. 8
for문을 공부중입니다. 9

In [91]:
sum = 0
for i in range(1,101,2):
    sum += i
print('1부터 101까지의 합 :%d'%sum)

1부터 10까지의 합 :2500

In [95]:
n=int(input('몇단을 출력할건지 입력하세요 :'))

for i in range(1,10):
    print(n,'*',i,'=',n*i)
    print('%d * %d = %d'%(n,i,n*i))

몇단을 출력할건지 입력하세요 :3
3 * 1 = 3
3 * 1 = 3
3 * 2 = 6
3 * 2 = 6
3 * 3 = 9
3 * 3 = 9
3 * 4 = 12
3 * 4 = 12
3 * 5 = 15
3 * 5 = 15
3 * 6 = 18
3 * 6 = 18
3 * 7 = 21
3 * 7 = 21
3 * 8 = 24
3 * 8 = 24
3 * 9 = 27
3 * 9 = 27

In [102]:
# 1부터 10까지의 숫자중 3의 배수의 합계를 구하시오.
sum = 0
for i in range(0,11,3):
    sum += i
print('3의배수의 합 : %d'%sum)
#내가 한것

3의배수의 합 : 18

In [104]:
# 1부터 10까지의 숫자중 3의 배수의 합계를 구하시오.
sum = 0

for num in range(11):
    if num % 3 == 0:
        sum += num
print('3의 배수값은 : %d'%sum)
#강사님 답안

3의 배수값은 : 18

In [105]:
for i in range(0,3,1):
    for k in range(0,2,1):
        print('파이썬 중첩(i값 : %d, k값 : %d)'%(i,k))

파이썬 중첩(i값 : 0, k값 : 0)
파이썬 중첩(i값 : 0, k값 : 1)
파이썬 중첩(i값 : 1, k값 : 0)
파이썬 중첩(i값 : 1, k값 : 1)
파이썬 중첩(i값 : 2, k값 : 0)
파이썬 중첩(i값 : 2, k값 : 1)

In [107]:
for i in range(5):
    for j in range(5):
        print('*')

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [108]:
for i in range(5):
    for j in range(5):
        print('*')  
    print()

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

In [109]:
for i in range(5):
    for j in range(5):
        print('*',end='')  
    print()

*****
*****
*****
*****
*****

In [110]:
for i in range(5):
    for j in range(5):
        if j <= i:
            print('*',end='')
    print()

*
**
***
****
*****

In [113]:
for i in range(5):
    for j in range(5):
        if j == i:
            print('*',end='')
        else:
            print(' ',end='')
    print()

*
 *
  *
   *
    *

In [114]:
for i in range(5):
    for j in range(5):
        print('*',end='')  
    print(end='-')

*****-*****-*****-*****-*****-